# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Données sensibles
.env
*.env
secrets/

# Données persistantes
data/
db/
files/

# Backups
*.zip
*.sql
*.dump
*.bak

# Fichiers temporaires
*.tmp
*.temp
tmp/
temp/

# Fichiers de développement
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
